.slick-prev {
  left      : -10px !important;
  z-index   : 1000 !important;
  height    : 48px !important;
  width     : 44px !important;
  background: #fff !important;
  border    : 2px solid #d7d7d7 !important;

  &:hover {
    background: #eceaea !important;
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwsome !important;

  color: black !important;
}

.slick-next {
  right     : -10px !important;
  z-index   : 1000 !important;
  height    : 48px !important;
  width     : 44px !important;
  background: #fff !important;
  border    : 2px solid #d7d7d7 !important;

  &:hover {
    background: #eceaea !important;
  }
}

.slick-disabled {
  display: none !important
}

.section-share {
  &.section-specialty {
    background : #f5f5f5;
    font-weight: 600;
  }

  &.section-outstanding-doctor {
    background : #f5f5f5;
    font-weight: 600;

  }

  &.section-medical-facility {
    font-weight: 600;
  }

  &.section-about {
    height       : 520px !important;
    border-top   : 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    font-weight  : 550;

  }

  .section-body {
    .section-customize {
      .bg-image {
        width              : 278px;
        height             : 150px;
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-color   : #eee;

        &.section-specialty {
          //background-image: url('../../assets/images/specialty/xuongkhop.jpg');
          border-radius: 10%;
        }

        &.section-medical-facility {
          // background-image: url('../../assets/images/medical-facility/hospital.jpg');
          border-radius: 10%;
        }

        &.section-outstanding-doctor1 {
          // background-image: url('../../assets/images/doctor/doctor1.jpg');
          width           : 150px;
          height          : 150px;
          border-radius: 10%;
        }

        //  &.section-outstanding-doctor2{
        //     background-image: url('../../assets/images/doctor/doctor2.jpg');
        //     width: 120px;
        //     height: 120px;
        //     border-radius: 50%;
        //  }
        &.section-handbook {
          // background-image: url('../../assets/images/handbook/cam-nang-covid.png');
          border-radius: 10%;
          width        : 100%;
        }
      }
    }
  }
}

.section-share {
  height: 330px;

  .section-container {
    margin        : 0 100px;
    display       : flex;
    flex-direction: column;

    .section-header {
      height       : 60px;
      margin-bottom: 30px;
      padding-top  : 30px;

      .title-section {
        font-size  : 22px;
        font-weight: 600;

      }

      .btn-section {
        float         : right;
        padding       : 10px 15px;
        border        : none;
        outline       : none;
        display       : block;
        background    : #ebebeb;
        color         : black;
        cursor        : pointer;
        text-transform: uppercase;

        &:hover {
          color     : #fff;
          background: rgba(50, 122, 255, 0.959);
        }
      }

    }
  }
}

.section-outstanding-doctor {
  .outer-bg {
    display        : flex;
    justify-content: center;
    margin-bottom  : 10px;
  }

  .section-customize {
    padding: 5px;
    cursor : pointer;

    &:hover {
      color           : #45c3d2;
      border          : 2px solid rgb(0, 119, 255);
      // border-radius: 20%;
    }

    .customize-border {

      background-color: #ebebeb;

      padding: 20px;
    }
  }
}

.section-handbook {
  height: 330px;
  width : 100%;

  .outer {
    padding-right: 20px;

    .section-customize1 {
      cursor: pointer;

      &:hover {
        color: #45c3d2;
      }

      .bg-image {
        width              : 278px;
        height             : 150px;
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-color   : #eee;
        background-image   : url('../../assets/images/handbook/cam-nang-covid.png');
        border-radius      : 10%;

        &:hover {
          color : #45c3d2;
          border: 3px solid rgb(0, 119, 255);
        }
      }


      .handbook-name {
        font-weight: 600;
        padding    : 10px 0;
      }
    }

    .section-customize2 {
      cursor: pointer;

      &:hover {
        color: #45c3d2;
      }

      .bg-image {
        width              : 278px;
        height             : 150px;
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-color   : #eee;
        background-image   : url('../../assets/images/handbook/the-duc-suc-khoe.jpg');
        border-radius      : 10%;

        &:hover {
          color : #45c3d2;
          border: 3px solid rgb(0, 119, 255);
        }
      }



      .handbook-name {
        font-weight: 600;
        padding    : 10px 0;

      }
    }

    .section-customize3 {
      cursor: pointer;

      &:hover {
        color: #45c3d2;
      }

      .bg-image {
        width              : 278px;
        height             : 150px;
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-color   : #eee;
        background-image   : url('../../assets/images/handbook/che-do-dinh-duong.jpg');
        border-radius      : 10%;

        &:hover {
          color : #45c3d2;
          border: 3px solid rgb(0, 119, 255);
        }
      }



      .handbook-name {
        font-weight: 600;
        padding    : 10px 0;
      }
    }
  }

}

.section-about {
  padding         : 0 80px;
  background-color: #ebebeb;

  .section-about-header {
    padding    : 15px 10px;
    font-size  : 22px;
    font-weight: 600;
  }

  .section-about-content {
    display: flex;
    gap    : 15px;

    .content-left {
      width: 60%;

      .video {
        border-radius: 5px;
      }
    }

    .content-right {
      width: 40%;

      p {
        text-align : justify;
        font-size  : 18px;
        font-style : italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 20px;
      }

      .logo1 {
        height    : 20%;
        width     : 100%;
        background: url('../../assets/images/cuc-cong-nghe-thong-tin-bo-y-te-2.png') center center no-repeat;
      }

      .logo2 {
        height    : 20%;
        width     : 100%;
        background: url('../../assets/images/suckhoedoisong.png') center center no-repeat;
      }
    }

  }
}

.home-footer {
  text-align : center;
  padding-top: 25px;
}